.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;

  font-size: 16px;

  padding: 16px 20px;
  color: aliceblue;
  background-color: #161b22;
}

.navItem {
  margin-right: 20px;
  transition: 200ms;
}

.navItem:hover {
  color: #7d895d;
}

.navItemMarked {
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;

  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #fff;
  transition: 200ms;
}

.navItemMarked:hover {
  border: 1px solid rgb(178, 186, 156);
  color: rgb(178, 186, 156);
}
