@import-normalize;

* {
  box-sizing: border-box;
  cursor: default;
}

body {
  box-sizing: border-box;
  background-color: #0a0d11;
  color: #c9d1d9;
  margin: 15px;
  font-family: sans-serif;
  font-size: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
}

button {
  cursor: pointer;
}

input {
  cursor: text;
}
.active {
  color: #97bd38;
}

.loader {
  display: inline-block;
}

.rotate {
  animation: rotate 1s cubic-bezier(0, 0.28, 1, 0.73) infinite;
}
@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}
