.phoneBtn {
  width: 50px;
  background-color: transparent;
  transition: 250ms;
  cursor: pointer;
}
.phoneBtn:hover {
  scale: 1.15;
  rotate: 5deg;
}

.deleteIcon {
  width: 25px;
  cursor: pointer;
}

.deleteBtn {
  padding: 4px 0 0;
  background-color: transparent;
  border: none;

  transition: 250ms;
}

.deleteBtn:hover {
  scale: 1.2;
}

.contactItem {
  display: flex;
  gap: 10px;

  padding: 10px 0;
  align-items: center;
  border-bottom: 1px solid rgb(31, 33, 47);
}
