.user {
  color: #9bacb9;
  margin-right: 20px;
  cursor: default;
}

.navItemMarked {
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;

  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #fff;
  transition: 200ms;
}

.navItemMarked:hover {
  border: 1px solid rgb(178, 186, 156);
  color: rgb(178, 186, 156);
}
